#titleBar {
    background: black;
    margin-top: -3em;
    margin-left: -.5em;
    margin-right: -.5em;
    padding-top: .25em;
    padding-bottom: .25em;
}

#title {
    color: white;
    margin-left: .4em;
    font-size: 36pt;
    font-family: Comfortaa, sans-serif;
    font-style: normal;
}

#subtitle {
    color: white;
    padding-left: 1.25em;
    margin-top: -2.25em;
    margin-bottom: .5em;
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
}

.asRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#barMenus {
    margin-top: 3.5em;
    margin-left: 10em;
}

.barMenu {
    color: white;
    font-family: sans-serif;
    font-size: 13pt;
    padding-right: 3em;
    cursor: pointer;
}

.barMenu:hover {
    text-decoration: underline;
}

#titleBarBorder {
    background: #663366;
    margin-left: -.5em;
    margin-right: -.5em;
    height: .5em;
}

#scrollBar {
    background: #885588;
    margin-right: -.5em;
    height: .5em;
    width: 3.5em;
    margin-left: 30em;
}